h1 {
    font-family: monospace;
    font-size: 80px;
    color: rgb(19, 19, 90);
    text-align: center;
}

body {
    font-family: monospace;
    background-color: #add2e5;
    background-image: url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    text-align: center;
}

.sideGif1 {
    position: absolute;
    bottom: 300px;
    right: 0;
}

.sideGif2 {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.sideGif3 {
    position: absolute;
    bottom: 300px;
    left: 0;
}

.sideGif4 {
    position: absolute;
    bottom: 10px;
    left: 0;
}